@font-face {
  font-family: "Corporate-A-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Corporate-A-Bold.woff2") format("woff2"), url("../fonts/Corporate-A-Bold.woff") format("woff");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  background-color: #070a1b;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}
.header__content {
  position: relative;
  background-image: url(../images/bg/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__content::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-image: url(../images/icon/logo-m.svg);
}
.header__logo {
  margin-left: 140px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list__item + .list__item {
  margin-left: 30px;
}
.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.list__link:hover {
  background-color: #c1a1d2;
}

.title {
  font-family: "Corporate-A-Bold";
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
}

.title-descr {
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.button {
  display: block;
  text-align: center;
  max-width: 100%;
  font-family: "Corporate-A-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #f402a2;
  border: 1px solid #f402a2;
  padding: 14px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.button:hover {
  color: #53a1cb;
  border: 1px solid #53a1cb;
}

.section__title {
  font-family: "Corporate-A-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #f402a2;
  margin-bottom: 25px;
}

.concept__inner {
  max-width: 900px;
  padding-top: 150px;
  margin-bottom: 150px;
  margin-left: auto;
}
.concept__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
}
.concept__img {
  max-width: 100%;
}

.premier {
  margin-bottom: 150px;
}
.premier__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.premier__column {
  max-width: 570px;
}
.premier__column + .premier__column {
  margin-left: 20px;
}
.premier__text {
  margin-bottom: 23px;
}
.premier__text--right {
  margin-bottom: 0;
}
.premier__img {
  max-width: 100%;
  margin-bottom: 26px;
}
.premier__premier__img--right {
  margin-bottom: 20px;
}

.video {
  margin-bottom: 150px;
}
.video__img {
  max-width: 100%;
  margin-bottom: 25px;
}
.video__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}
.video__btn span {
  padding-top: 3px;
}
.video__btn path {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.video__btn:hover path {
  fill: #53a1cb;
}

.design__interior {
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 44px 255px 44px auto 44px 330px;
  grid-template-columns: 255px 255px auto 330px;
  -ms-grid-rows: auto 14px auto;
  grid-template-rows: auto auto;
  gap: 14px 44px;
}

.design__interior > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.design__interior > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.design__interior > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.design__interior > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.design__interior > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.design__interior > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.design__interior > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.design__interior > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.design__cell-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.design__cell-two {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
}
.design__cell-three {
  -ms-grid-row-span: -1;
  grid-row-end: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.design__cell-four {
  -ms-grid-column-span: -1;
  grid-column-end: -1;
  -ms-grid-row-span: -1;
  grid-row-end: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
}
.design__cell-text {
  margin-top: 25px;
}
.design__interior-img {
  max-width: 100%;
}

.text-bottom {
  margin-bottom: 150px;
}
.text-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.text-bottom__column {
  max-width: 255px;
}
.text-bottom__column + .text-bottom__column {
  margin-left: 60px;
}
.text-bottom__text {
  margin-bottom: 25px;
}

.img-bottom__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}