// ---- ---- color ---- ---- //
$color-white: #fff;
$color-black: #070a1b;
$color-pink: #f402a2;
$color-blue: #53a1cb;
$color-purple: #c1a1d2;

// ---- ---- *** ---- ---- //

// ---- ---- *** ---- ---- //
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $color-white;
  background-color: $color-black;
}
// ---- ---- main ---- ---- //
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  &__content {
    background-image: url(../images/bg/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
  }
}
.list {
  display: flex;

  &__item {
    & + & {
      margin-left: 30px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
    &:hover {
      background-color: $color-purple;
    }
  }
}
.title {
}
.title-descr {
}

// ---- ---- *** ---- ---- //
