// ---- ---- color ---- ---- //
$color-white: #fff;
$color-black: #070a1b;
$color-pink: #f402a2;
$color-blue: #53a1cb;
$color-purple: #c1a1d2;

// ---- ---- fonts ---- ---- //
@font-face {
  font-family: 'Corporate-A-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
    url('../fonts/Corporate-A-Bold.woff') format('woff');
}

// ---- ---- *** ---- ---- //
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $color-white;
}
// ---- ---- main ---- ---- //
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.gradient {
  background: linear-gradient(180deg, #070a1b 0%, #2a3170 100%);
}
.header {
  background-color: $color-black;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  &__content {
    position: relative;
    background-image: url(../images/bg/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      background-image: url(../images/icon/logo-m.svg);
    }
  }
  &__logo {
    margin-left: 140px;
  }
}
.list {
  display: flex;

  &__item {
    & + & {
      margin-left: 30px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
    &:hover {
      background-color: $color-purple;
    }
  }
}
.title {
  font-family: 'Corporate-A-Bold';
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
}
.title-descr {
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}
.button {
  display: block;
  text-align: center;
  max-width: 100%;
  font-family: 'Corporate-A-Bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-pink;
  border: 1px solid $color-pink;
  padding: 14px;
  transition: all 0.4s ease;
  &:hover {
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}
.section {
  &__title {
    font-family: 'Corporate-A-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-pink;
    margin-bottom: 25px;
  }
}
.concept {
  &__inner {
    max-width: 900px;
    padding-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
  }

  &__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  &__img {
    max-width: 100%;
  }
}
.premier {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__column {
    max-width: 570px;
    & + & {
      margin-left: 20px;
    }
  }
  &__text {
    margin-bottom: 23px;
  }
  &__text--right {
    margin-bottom: 0;
  }
  &__img {
    max-width: 100%;
    margin-bottom: 26px;
  }
  &__premier__img--right {
    margin-bottom: 20px;
  }
}
.video {
  margin-bottom: 150px;
  &__img {
    max-width: 100%;
    margin-bottom: 25px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    span {
      padding-top: 3px;
    }
    path {
      transition: all 0.4s ease;
    }
    &:hover {
      path {
        fill: $color-blue;
      }
    }
  }
}
.design {
  &__interior {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 255px 255px auto 330px;
    grid-template-rows: auto auto;
    gap: 14px 44px;
  }
  &__cell-one {
    grid-row: 1/3;
  }
  &__cell-two {
    grid-column: 2/5;
  }
  &__cell-three {
    grid-row-end: -1;
    display: flex;
    align-items: flex-end;
  }
  &__cell-four {
    grid-column-end: -1;
    grid-row-end: -1;
    display: flex;
    align-items: flex-end;
    max-width: 100%;
  }
  &__cell-text {
    margin-top: 25px;
  }
  &__interior-img {
    max-width: 100%;
  }
}
.design-slider {
  max-width: 1900px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 150px;
  &__item {
    margin: 0 30px;
  }
  &__img {
    max-width: 100%;
  }
}
.slick-track {
  margin-left: -38px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  li + li {
    margin-left: 20px;
  }
  button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: $color-purple;
    border-radius: 50%;
    transition: all 0.4s;
  }
}
.slick-active button {
  width: 15px;
  height: 15px;
  background-color: $color-pink;
}
.arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  cursor: pointer;

  padding: 10px;
}
.arrow-prev {
  transform: translateX(-90px);
}
.arrow-next {
  transform: translateX(27px);
}
.text-bottom {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: center;
  }
  &__column {
    max-width: 255px;
    & + & {
      margin-left: 60px;
    }
  }
  &__text {
    margin-bottom: 25px;
  }
}
.img-bottom {
  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}
.footer {
  background-color: $color-black;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
}
// ---- ---- 1000 ---- ---- //
@media (max-width: 1000px) {
  .design {
    &__interior {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
    &__cell-one {
      grid-row: 2/4;
    }
    &__cell-two {
      grid-column: 1/3;
    }
    &__cell-three {
      grid-column: 2/3;
      grid-row: 2/3;
      align-items: flex-start;
    }
    &__cell-four {
      grid-column: 2/3;
    }
    &__interior-img {
      width: 100%;
    }
  }
  .design-slider {
    margin-bottom: 100px;
  }
  .slick-track {
    margin-left: 0;
  }
}
// ---- ---- 740 ---- ---- //
@media (max-width: 740px) {
  .header {
    &__logo {
      margin-left: 30px;
    }
  }
  .logo__img {
    max-width: 180px;
  }
  .list {
    &__item {
      & + & {
        margin-left: 15px;
      }
    }
    &__link {
      width: 35px;
      height: 35px;
    }
  }
  .title {
    font-size: 58px;
    line-height: 120%;
  }
  .title-descr {
    font-size: 20px;
    line-height: 120%;
  }
  .concept {
    &__inner {
      margin-bottom: 100px;
    }
  }
  .premier {
    margin-bottom: 100px;
  }
  .video {
    margin-bottom: 100px;
  }
  .text-bottom {
    margin-bottom: 100px;
  }
  .footer {
    &__inner {
      height: 150px;
    }
  }
}
// ---- ---- 655 ---- ---- //
@media (max-width: 655px) {
  .premier {
    margin-bottom: 25px;
    &__inner {
      flex-direction: column;
    }
    &__column {
      max-width: 100%;
      margin-bottom: 75px;
      & + & {
        margin-left: 0;
      }
    }
    &__img {
      display: block;
      margin: 0 auto 26px;
    }
  }
  .design {
    &__interior {
      margin-bottom: 50px;
    }
    &__cell-four {
      align-items: flex-start;
    }
  }
  .design-slider {
    margin-bottom: 75px;
    &__img {
      margin: 0 auto;
    }
    &__item {
      margin: 0 5px;
    }
  }
  .text-bottom {
    margin-bottom: 75px;
    &__column {
      max-width: 250px;
      & + & {
        margin-left: 30px;
      }
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      height: 200px;
    }
    &__link {
      order: 3;
      margin: 0 auto;
    }
  }
}
// ---- ---- 500 ---- ---- //
@media (max-width: 500px) {
  .header {
    &__logo {
      margin-left: 15px;
    }
  }
  .logo__img {
    max-width: 170px;
  }
  .list {
    &__item {
      & + & {
        margin-left: 10px;
      }
    }
    &__link {
      width: 30px;
      height: 30px;
    }
  }
  .title {
    font-size: 48px;
    line-height: 120%;
  }
  .title-descr {
    font-size: 18px;
    line-height: 120%;
  }
  .concept {
    &__inner {
      padding-top: 50px;
      margin-bottom: 50px;
    }
    &__text {
      font-size: 18px;
      line-height: 120%;
    }
  }
  .premier {
    margin-bottom: 0;
    &__column {
      margin-bottom: 50px;
    }
  }
  .design-slider {
    margin-bottom: 50px;
  }
  .slick-dots {
    li + li {
      margin-left: 15px;
    }
    button {
      width: 8px;
      height: 8px;
    }
  }
  .slick-active button {
    width: 12px;
    height: 12px;
    background-color: $color-pink;
  }
  .text-bottom {
    margin-bottom: 50px;
    &__inner {
      flex-wrap: wrap;
    }
    &__column {
      max-width: 100%;
      & + & {
        margin-left: 0px;
      }
    }
  }
  .design {
    &__interior {
      display: block;
    }
    &__interior-img {
      margin-top: 25px;
    }
  }
}
// ---- ---- 420---- ---- //
@media (max-width: 420px) {
  .header {
    &__top {
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    &__logo {
      margin: 0 auto;
    }
  }
  .logo__img {
    max-width: 170px;
  }
  .list {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    &__item {
      & + & {
        margin-left: 15px;
      }
    }
    &__link {
      width: 35px;
      height: 35px;
    }
  }
  .title {
    font-size: 40px;
    line-height: 120%;
  }
  .video {
    margin-bottom: 50px;
  }
  .footer {
    &__logo {
      margin: 50px auto 0;
    }
    &__link {
      margin-bottom: 25px;
    }
  }
}
// ---- ---- 360 ---- ---- //
@media (max-width: 360px) {
  .premier {
    &__column {
      margin-bottom: 40px;
    }
    &__text {
      font-size: 14px;
      line-height: 120%;
    }
  }
}
