// ---- ---- color ---- ---- //
$color-white: #fff;
$color-black: #070a1b;
$color-pink: #f402a2;
$color-blue: #53a1cb;
$color-purple: #c1a1d2;

// ---- ---- fonts ---- ---- //
@font-face {
  font-family: 'Corporate-A-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Corporate-A-Bold.woff2') format('woff2'),
    url('../fonts/Corporate-A-Bold.woff') format('woff');
}

// ---- ---- *** ---- ---- //
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: $color-white;
  background-color: $color-black;
}
// ---- ---- main ---- ---- //
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  &__content {
    position: relative;
    background-image: url(../images/bg/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      background-image: url(../images/icon/logo-m.svg);
    }
  }
}
.list {
  display: flex;

  &__item {
    & + & {
      margin-left: 30px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
    &:hover {
      background-color: $color-purple;
    }
  }
}
.title {
  font-family: 'Corporate-A-Bold';
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
}
.title-descr {
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.section {
  &__title {
    font-family: 'Corporate-A-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-pink;
    margin-bottom: 25px;
  }
}
.concept {
  &__inner {
    max-width: 900px;
    padding-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
  }
  &__title {
  }
  &__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  &__img {
    max-width: 100%;
  }
}
.premier {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__column {
    max-width: 570px;
    & + & {
      margin-left: 20px;
    }
  }
  &__text {
    margin-bottom: 25px;
  }
  &__text--right {
    margin-bottom: 0;
  }
  &__img {
    max-width: 100%;
    margin-bottom: 25px;
  }
  &__premier__img--right {
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    text-align: center;
    max-width: 100%;
    font-family: 'Corporate-A-Bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-pink;
    border: 1px solid $color-pink;
    padding: 14px 0;
    transition: all 0.4s ease;
    &:hover {
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
  &__link {
  }
}
// ---- ---- *** ---- ---- //
